<!DOCTYPE html>{% from 'macros.twig' import mustache_script %}

<html>
    <head>
       <link rel="stylesheet" type="text/css" href="/vendor/littke/inspiritas-bootstrap/inspiritas.css">
       <title>{% block title %}{% endblock %} - z0</title>

        <script src="/public/underscore.js" ></script>
        <script src="/public/jquery-1.9.1.js" ></script>
        <script src="/public/backbone.js" ></script>
        <script src="/public/mustache.js"></script>

<!--bootstap JS-->
    <script src="/vendor/twitter/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/vendor/twitter/bootstrap/js/bootstrap-tab.js"></script>
    {# Custom Edition of bootstrap theme #}
    <link rel="stylesheet" type="text/css" href="/vendor/littke/inspiritas-bootstrap/inspiritas.css">
    {# FullScreen bootstrap modal #}
    <link rel="stylesheet" href="/vendor/aroc/Bootstrap-Scroll-Modal/bootstrap-scroll-modal.css">
    <script src="/vendor/aroc/Bootstrap-Scroll-Modal/bootstrap-scroll-modal.js"></script>
    {# MarkDown For Js #}
    <script src="/vendor/coreyti/showdown/src/showdown.js"></script>
    <script src="/public/markdownext/table.js"></script>
    

<link rel="stylesheet/less" type="text/css" href="/public/main.less">
<script src="/public/less-1.3.3.min.js" ></script>
        <script src="/public/app.js" ></script>
    </head>
    <body>
        {% include "navibar.twig" %}
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            {% block sidebar %}{% include "sidebar.twig"%}{% endblock %}
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">{% block content %}{% endblock %}</div>
        </div>
    </div>
</div>

<div class="navbar-text">&nbsp;</div>

<footer class="navbar-fixed-bottom row-fluid">
    <div class="navbar-inner">
        <div class="container">
            {% block footer %}
                &copy; Copyright 2013 by <a href="http://www.z0.lv/">z0</a>.
            {% endblock %}
        </div>
    </div>
</footer>

      <div id="modal" class="modal hide fade"></div>
        {{ mustache_script('WikiCreate', 'wikiForm.mustache') }}
        {{ mustache_script('WikiListView', 'wikiList.mustache') }}
        {{ mustache_script('WikiItemView', 'wikiItem.mustache') }}
    </body>
</html>