{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block header %}
    <h1>No Name World</h1>
    <ul class="main_menu">
        <li>Race 1</li>
        <li>Race 2</li>
        <li>Race 3</li>
        <li>Race 4</li>
        <li>Race 5</li>
        <li>Race 6</li>
        <li>Race 7</li>
        <li>Race 8</li>
        <li>Race 9</li>
    </ul>
{% endblock %}