<aside>
    <nav>
        <ul class="nav">
          <li>
            <a href="/wiki/home-1"><i class="icon-home  icon-white"></i> Home</a>
          </li>
          <li class="selected">
            <a href="/wiki"><i class="icon-th-list icon-white"></i> List</a>
          </li>
          <li>
            <a href=""><i class="icon-user icon-white"></i> Members</a>
          </li>
          {#
          <li>
            <a href=""><i class="icon-font icon-white"></i> Typography</a>
          </li>
          <li>
            <a href=""><i class="icon-retweet icon-white"></i> Sexalicious</a>
          </li>
          #}
        </ul>
    </nav>
</aside>