            <header>
                <div class="pull-right">
                    <a href="/create/wiki" class="btn btn-small">Create New</a>
                </div>
                <h1>List Pages</h1>
            </header>
            <ul>
            {{#posts}}
                <li><a href="{{linkToTitle}}">{{title}}</a></li>
            {{/posts}}
            </ul>