            <header>
                <div class="pull-right">
                    <a class="btn btn-small">Edit</a>
                </div>
                <h1>{{title}}</h1>
            </header>
            {{&body}}